
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-page h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login-page label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .login-page input[type="email"],
  .login-page input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .login-page button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-page button[type="submit"]:hover {
    background-color: #444;
  }
  
  .login-page p {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  .login-page a {
    color: #337ab7;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-page a:hover {
    color: #23527c;
  }